

#faq-title{
    font-size: 2rem;
    text-align:center;
    margin: 30px 0px;
}
.faq p{
    color:black;
    font-size: 1.3rem;
}
.faq h3{
    font-size: 1.4rem;
}
.faq{
    margin-bottom:100px;
    font-family: 'Courier New', Courier, monospace;
}
.faqtexto{
    display:flex;
    justify-content: space-evenly;
    
    width:800px;
    margin:15px auto;
    text-align: center;
    

}
.geral{
    display: grid;
    grid-template-rows: 0.6fr   3fr 1fr;
    grid-template-areas: "t" "m" "f";
}
header{
    grid-area: t;

    height:150px;
}
main{
    grid-area: m;
}

